.main-wrapper {
  max-width: 500px;
  background-color: #fff;
  padding: 1rem 0.5rem;
}
.person,
.person-detail {
  display: flex;
}

.person-detail {
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
}
